<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
    <title>秒杀产品页面</title>
</head>
<body>
<div class="container">
    <div class="panel panel-default text-center">
        <div class="panel-heading ">
            <h1 th:text="${seckill.name}"></h1>
        </div>
        <div class="panel-body">
          <h2 class="text-danger">
              <!--显示时间的图标-->
              <span class="glyphicon glyphicon-time"></span>
              <span class="glyphicon" id="seckill-box"></span>
          </h2>
        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="killPhoneModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="glyphicon glyphicon-time">秒杀电话：</span></h4>
            </div>
            <!-- 模态框主体 -->
            <div class="modal-body">
                <input type="text" class="form-control" id="killPhone" placeholder="填写手机号"/>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <span id="killPhoneMsg" class="glyphicon"> </span>
                <button id="killPhoneBtn" type="button" class="btn btn-success" >Submit</button>
            </div>

        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script th:src="@{https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js}"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script th:src="@{https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js}"></script>
<!--最新的倒计时插件countdown.min.js-->
<script th:src="@{https://cdn.bootcss.com/jquery.countdown/2.2.0/jquery.countdown.min.js}"></script>
<script th:src="@{/seckill/js/seckill.js}"></script>
<script th:inline="javascript">
    $(function () {
        seckill.detail.init({
            seckillId:[[${seckill.seckillId}]],
            startTime:[[${seckill.startTime.time}]],
            endTime:[[${seckill.endTime.time}]]
        })
    });
</script>
</body>
</html>
